<h1 style="text-align: center;">View Cart</h1>

<div class="container">
  <div *ngIf="!cart || cart.items.length === 0" class="text-center mt-4">
    Your cart is empty.
  </div>
  
  <div *ngIf="cart && cart.items.length > 0" class="row">
    <div class="col-md-4" *ngFor="let item of cart.items; let i = index">
      <img [src]="item.product.product_image.url" alt="" style="height: 200px; width: auto;">
      <p>Name: {{ item.product.product_name }}</p>
      <p>Price: {{ item.product.product_price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <button type="button" class="btn btn-danger" (click)="removeFromCart(item.product._id)">
        Remove from Cart
      </button>
    </div>
  </div>
</div>
